-#  This file is app/views/movies/with_same_director.html.hamlr.html.haml
- a_movie = @movies.first
- director = a_movie.director
%h1 All Movies with Director "#{director}"

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Back to movie list', movies_path
